@font-face {
  font-family: "SatoshiVariable";
  src: url("fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900; // Using variable font syntax for weight range
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ffffff;
  font-family: "SatoshiVariable", Helvetica, sans-serif;
  overflow-x: hidden;
}

header {
  height: 96px;
  width: 100%;
  background-color: white;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0px;
  left: 0px;

  .logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    gap: 10px;
    pointer-events: none;
    img {
      height: 60px;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 18px;

    a {
      text-decoration: none;
      color: unset;
    }

    #contactus {
      font-weight: 600;
      padding: 10px 20px;
      background-color: black;
      border-radius: 21px;
      color: #ffffff;
      transition: transform 0.3s ease;
      word-break: nowrap;

      &:hover {
        transform: scale(1.1);
      }
    }

    span {
      position: relative;
      font-weight: 500;

      span {
        display: none;

        &.active {
          display: inline;
          font-weight: 900;
          position: absolute;
          top: 8px;
          left: 50%;
        }
      }
    }
  }
}

#landing-section {
  padding: 5% 5%;
  text-align: center;
  margin-top: 96px;

  h1 {
    font-size: 66px;
    font-weight: 900;
    letter-spacing: -3px;
    line-height: 1;
  }

  &>h2 {
    margin-top: 40px;
    font-weight: 500;
    width: max(60%, 300px);
    margin-left: auto;
    margin-right: auto;
  }

  button.our-services {
    all: unset;
    background-color: #eeb98d;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 21px;
    margin-top: 40px;
    cursor: pointer;
  }

  .carousel {
    // width: 80%;
    margin-top: 70px;
    overflow: hidden;
    position: relative;
    margin-left: -20px;
    margin-right: -20px;

    .carousel-track {
      animation: bannermove 10s linear infinite;
      display: flex;
      transition: transform 0.5s ease-in-out;
      align-items: center;
      gap: 20px;
      //   &:hover {
      //     background-color: rebeccapurple;
      //     animation: bannermove 1600s linear;
      //   }
    }

    .carousel-item {
      height: 300px;
      min-width: 400px;
      border-radius: 36px;
      overflow: hidden;

      img {
        width: 100%;
        display: block;
      }
    }

    .shadow-overlay {
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      box-shadow: inset 50px 0 15px -15px #ffffff,
        inset -50px 0 15px -15px #ffffff;
      // background-color: red;
    }
  }
}

#about-section {
  padding: 2% 8% 5%;

  // .grid-container{
  //     display: grid;
  //     column-gap: 20px;
  //     row-gap: 20px;
  //     grid-template-columns: 1fr 1fr 1fr;
  //     grid-template-rows: 1fr 1fr;
  //     .grid-item{
  //         background-color: rebeccapurple;
  //         color: white;
  //         padding: 20px;
  //         text-align: center;
  //     }
  //     .item1{
  //         grid-column: 1 / 3;
  //     }
  // }
  h2 {
    font-size: 250%;
    line-height: 1.1;
    letter-spacing: -1px;
    font-weight: 700;
  }

  h3 {
    line-height: 1.1;
    letter-spacing: -1px;
    font-size: 150%;
    font-weight: 600;
  }

  .grid-container {
    display: grid;
    // grid-template-rows: auto auto; /* Two rows of equal height */
    grid-template-columns: 3fr 3fr 1fr 3fr;
    /* First row: 60% for first column, 30% for second column, 10% for third column */
    column-gap: 16px;
    row-gap: 36px;
    /* Optional: Adds a gap between grid items */
    grid-auto-rows: 400px;

    img {
      // width: 100%;
      width: 100%;
    }

    .grid-item {
      //   border: 1px solid #ccc;
      border-radius: 40px;
      overflow: hidden;
    }

    .item1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: #f4f4f4;
      grid-column: span 2;
      padding: 40px;
    }

    .item2 {
      grid-column: span 2;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        // transform: scale(0.8);
        height: 90%;
        width: auto;
      }
    }

    .item3 {
      grid-column: span 1;
    }

    .item4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: #f4f4f4;
      grid-column: span 2;
      padding: 40px;
      grid-column: span 2;
    }

    .item5 {
      grid-column: span 1;
    }
  }

  .caption-3 {
    margin-top: 80px;
    font-size: 150%;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

#landing-end {
  padding: 2% 5% 0% 5%;

  h2 {
    line-height: 1.1;
    letter-spacing: -1px;
    font-weight: 700;
  }

  h3 {
    line-height: 1.1;
    letter-spacing: -1px;
    font-weight: 600;
  }

  button {
    all: unset;
    text-align: center;
    padding: 12px;
    height: 200px;
    width: 200px;
    font-size: 22px;
  }

  .get-quote {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    border-radius: 60px;
    background-color: #050F27;
    color: white;

    // transition: all 0.2s ease;
    h3 {
      font-size: 40px;
      width: 60%;
    }

    button {
      background-color: #121B32;
      border-radius: 60px;
      font-weight: 600;
      cursor: pointer;
      transition: all .2s ease;

      &:hover {
        background-color: #20315c;
        transform: scale(1.1);
      }
    }
  }

  .follow-us {
    margin-top: 60px;
    background-color: #050F27;
    ;
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 28px;
    padding: 125px;
    overflow: hidden;
    width: 100vw;
    /* Full width of the viewport */
    position: relative;
    /* Ensure it covers the full width */
    left: 50%;
    /* Adjust position */
    transform: translateX(-50%);
    /* Center the element */

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      position: relative;

      h2 {
        font-size: 62px;
      }

      button {
        background-color: white;
        color: #050F27;
        font-weight: 600;
        border-radius: 60px;
        height: 200px;
        width: 200px;
        min-width: 200px;
        z-index: 2;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          transform: scale(1.1);
        }
      }

      .background-leaf {
        position: absolute;
        right: -150px;
        top: -150px;
        height: 600px;
      }

      .icons-wrapper {
        img {
          height: 60px;
          margin: 30px 10px 0px;
          cursor: pointer;
        }
      }
    }

    .caption-4 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 34px;
      padding: 20px 30px;
      font-weight: 600;
      border-radius: 50px;
      background-color: #4B5263;
    }
  }
}

.quote-wrapper {
  overflow: hidden;
  transition: all .2s ease;
  background-color: rgba(61, 61, 61, 0.845);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  animation: fadeIn .1s forwards;

  h1 {
    margin-bottom: 10px;
  }
  
  &.hidden {
    opacity: 0;
    visibility: hidden;
    animation: fadeOut .1s forwards;
  }

  button {
    background-color: #37415d;
    border-radius: 60px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      background-color: #20315c;
      transform: scale(1.1);
    }
  }

  form {
    width: min(460px, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 45px;
    background-color: white;
    border-radius: 60px;
    gap: 10px;

    input,
    textarea {
      all: unset;
      font-size: 22px;
      border: 4px solid #121B32;
      border-radius: 22px;
      color: black;
      padding: 10px 16px;
      width: 100%;
    }

    #enquiry {
      height: 140px;
      text-align: start;
    }

    button {
      padding: 24px 48px;
      height: fit-content;
      width: fit-content;
      font-size: 22px;
      margin-top: 16px;
    }
  }
}



@keyframes bannermove {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1600px);
    /* Adjust based on the number of images */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.9);
  }
}