@font-face {
  font-family: "SatoshiVariable";
  src: url("fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900; // Using variable font syntax for weight range
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ffffff;
  font-family: "SatoshiVariable", Helvetica, sans-serif;
  overflow-x: hidden;
}

header {
  height: 96px;
  width: 100%;
  background-color: white;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0px;
  left: 0px;

  .logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    gap: 10px;
    pointer-events: none;
    img {
      height: 60px;
    }
  }
  .hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    .line {
      width: 32px;
      height: 4px;
      background-color: black;
    }
    @media screen and (min-width: 980px) {
      display: none;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 18px;

    &.right-horz{
      @media screen and (max-width: 980px) {
        display: none;
      }
    }
    

    a {
      text-decoration: none;
      color: unset;
    }

    #contactus {
      font-weight: 600;
      padding: 10px 20px;
      background-color: black;
      border-radius: 21px;
      color: #ffffff;
      transition: transform 0.3s ease;
      word-break: nowrap;

      &:hover {
        transform: scale(1.1);
      }
    }

    span {
      position: relative;
      font-weight: 500;

      span {
        display: none;

        &.active {
          display: inline;
          font-weight: 900;
          position: absolute;
          top: 8px;
          left: 50%;
        }
      }
    }
  }
}

#testimonial-top {
  padding: 5% 5%;
  text-align: center;
  margin-top: 96px;

  h1 {
    font-size: 54px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1;
  }

  &>h2 {
    margin-top: 40px;
    font-weight: 600;
    font-size: 125%;
    line-height: 1.1;
    padding: 0 18%; // Add padding to left and right instead of margins
    width: auto; // Let the width adjust automatically
  }

  .item1 {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // Ensure the image covers the container
      display: block; // Remove any extra space around the image
      margin-top: 60px;
    }
  }

  p {
    font-weight: 500;
    font-size: 44px;
    margin-top: 150px;
    margin-bottom: 100px;
    line-height: 1.1;
    letter-spacing: -1px;
  }
}

#testimonial-mid {
  padding: 3% 0%;
  text-align: left;
  background-color: #f4f4f4;

  .main-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* Two equal columns */
    grid-template-rows: repeat(2, auto);
    /* Two equal rows */
    column-gap: 40px;
    /* Gap between grid items */
    padding: 20px;
  }

  .grid-container {
    display: grid;
    gap: 20px;
    padding: 10px;
    align-items: center;
    justify-content: start;
    max-width: 1010px;
    margin-left: 75px;
    background-color: #ffffff;
    border-radius: 60px;
  }

  .image-left img {
    width: 100%;
    height: auto;
    max-height: 450px;
    border-radius: 20px;
    margin-left: 50px;
  }

  .text-center {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    text-align: left;
    font-size: 45px;
    line-height: 1.1;
    font-weight: 800;
    color: #050F27;
    border-radius: 20px;
  }

  .image-right1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .image-right2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: -270px;
  }

  .image-right1 img,
  .image-right2 img {
    width: 300px;
    height: auto;
    border-radius: 20px;
  }
}

#testimonial-end {
  .text1 {
    font-weight: 500;
    font-size: 46px;
    text-align: center;
    line-height: 1.1;
    padding: 150px 0px;
  }

  .main-grid {
    background-color: #ffffff;
    padding: 0px 75px;
  }

  .grid-container {
    background-color: #f4f4f4;
    border-radius: 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    width: 100%; /* Full width of the page */
    margin: 0 auto; /* Center the container */
    padding: 70px;
    .grid-item{
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: white;
      border-radius: 24px;
      padding: 16px;
      .testimonial-wrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
        img{
          height: 40px;
          width: fit-content;
          &:nth-of-type(2){
            transform: rotate(180deg);
            align-self: flex-end;
          }
        }
      }
      .video-text{
        font-weight: 600;
        margin-left: 10px;
      }
    }
  }

  .grid-text1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: start;
    justify-content: left;
    text-align: left;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1;
}

.grid-item1, .grid-item2, .grid-item3, .grid-item4, .grid-item5, .grid-item6, .grid-item7 {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-text2 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;  // Stack text and button vertically
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 24px;

  p {
      margin-bottom: 15px;  // Add space between text and button
  }

  // Button styling
  button {
      padding: 10px 20px;
      font-family: "SatoshiVariable";
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      background-color: #050F27;  // Button background color
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
          background-color: #414d5a;  // Darker shade on hover
      }
  }
}


video {
    width: 100%;
    height: auto;
    border-radius: 30px;
    padding: 10px;
    max-width: 150px;
}



}

.right-panel {
  display: flex;
  min-height: 100vh;
  width: min(90%, 340px);
  background-color: white;
  position: fixed;
  z-index: 10;
  box-shadow: -8px 0px 16px 0px hwb(0 36% 64% / 0.274);
  right: 0px;
  top: 0px;
  display: flex;
  text-align: left;
  align-items: flex-start;
  gap: 20px;
  padding-top: 80px;
  flex-direction: column;
  svg{
    height: 36px;
    position: absolute;
    left: -70px;
    top: 40px;
    cursor: pointer;
  }
  display: none !important;
  &.visible {
    display: flex !important;
  }
}




.quote-wrapper {
  overflow: hidden;
  transition: all .2s ease;
  background-color: rgba(61, 61, 61, 0.845);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  animation: fadeIn .1s forwards;

  h1 {
    margin-bottom: 10px;
  }
  
  &.hidden {
    opacity: 0;
    visibility: hidden;
    animation: fadeOut .1s forwards;
  }

  button {
    background-color: #37415d;
    border-radius: 60px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      background-color: #20315c;
      transform: scale(1.1);
    }
  }

  form {
    width: min(460px, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 45px;
    background-color: white;
    border-radius: 60px;
    gap: 10px;

    input,
    textarea {
      all: unset;
      font-size: 22px;
      border: 4px solid #121B32;
      border-radius: 22px;
      color: black;
      padding: 10px 16px;
      width: 100%;
    }

    #enquiry {
      height: 140px;
      text-align: start;
    }

    button {
      padding: 24px 48px;
      height: fit-content;
      width: fit-content;
      font-size: 22px;
      margin-top: 16px;
    }
  }
}